{# context: message #}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title style="color: red">ERROR!</title>

    <link rel="stylesheet" href="{% static 'rootapp/error-page.css' %}"/>
</head>

<body>
<div class="h-screen text-center flex flex-col justify-center items-center">
    <div class="bg-red-200 px-10 py-4 rounded-md flex space-x-5 items-center">

{#        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"#}
{#             class="w-10 sm:w-12 lg:w-14 h-10 sm:h-12 lg:h-14 text-red-600">#}
{#            <path stroke-linecap="round" stroke-linejoin="round"#}
{#                  d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z"></path>#}
{#        </svg>#}

        <div>
            <h1 class="font-bold text-3xl md:text-4xl lg:text-6xl text-red-800">
                ERROR!
            </h1>
            <p class="font-medium text-xl md:text-2xl lg:text-4xl max-w-[60vw]">
                {{ message }}
            </p>
        </div>

    </div>
</div>
</body>
</html>